body {
    font-size: 16px;
    background-color: #CC2233;
}

#main-wrapper {
    background-color: #fff;
    margin: 50px auto 0;
    padding: 5px 20px 200px;
    border-radius: 3px;
}

@media (min-width: 768px) {
    #main-wrapper {
      width: 576px;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
      width: 744px;
    }
}

@media (min-width: 1200px) {
    #main-wrapper {
      width: 900px;
    }
}

.math {
    font-style: normal;
    font-weight: bold;
}

#distribution-form {
    margin-bottom: 30px;
}

#example > p {
    margin: 0;
}

#example > p:first-child {
    margin-top: 7px;
}

#param-rules {
    margin-bottom: 0;
}

#param-rules > dt {
    width: 10px;
}

#param-rules > dd {
    margin-left: 20px;
}

#results {
    display: none;
}

#results tr {
    background-color: #f5f5f5;
}

#results tr:first-child {
    background-color: #fff;
}
